/*general*/

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;

}

:root {
    --title: #ec346e;
    --box: #0f0e17;
    --mail: #4ac6ec;
    --text-card: #ffffff;
}

/*intestazione iniziale*/


header {
    max-width: 1200px;
    text-align: center;
    margin: auto;
}

h1 {
    color: var(--title);
    font-size: 40px;
    margin: 2.5rem;
}

header p {
    font-size: 20px;
}

main {
    max-width: 1200px;
    margin: 3rem auto;
}

/*card*/

.box {
    height: 100px;
    width: calc(100%/3 - 2.5rem);
    background-color: var(--box);
    float: left;
    margin: 1.25rem;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.6);
}

.box img {
    width: 100px;
    float: left;
    margin-right: .5rem;

}

.card {
    float: left;
    padding: .5rem;
    color: var(--text-card);
}

h3,
.card p {
    margin-bottom: .5rem;
}

.mail {
    color: var(--mail);
}